@model string

<h1>Add Measurement</h1>
<form method="post">
    <div class="form-group">
        <label>Measurement</label>
        <input type="text" name="measurement"/>
    </div>
    <button type="submit">Add</button> 
</form>