<div class="col-md-3">
    <ul class="nav nav-pills nav-stacked">
        <li class="nav-item"><a asp-action="Profile">Profile</a></li>
        <li class="nav-item"><a href="/Users/Recipes">My Recipes</a></li>
        <li class="nav-item"><a href="/Users/Saved">Saved Recipes</a></li>
        <li class="nav-item"><a asp-action="Index" asp-controller="Manage">Manage Profile</a></li>
    </ul>
</div>
