@model List<RecipeViewModel>

<div class="row">
    @Html.Partial("ProfileNavPartial")
    <div class="col-md-9">
        <h2>Your Saved Recipes:</h2>
        @Html.DisplayForModel()
    </div>
</div>
