@model AddIngredient

<div class="form-inline">
    <input asp-for="Name" placeholder="Name" />
    <input asp-for="Measurement" placeholder="Measurement" />
    <input asp-for="Quantity" placeholder="Quantity" />
</div>
